:root {
    --Jet: #2c2c2c;
    --OrangeYellow: #efbc00;
}

body {
    background-color: var(--OrangeYellow);
}
header {
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 3em;
    margin: 6%;
    color: var(--Jet);
    font-weight: bold;
}

legend {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

header, legend {
    text-align: center;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    color: var(--Jet);
}

